.Footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9f5de;
    margin-top: 30px;
    padding: 50px 200px 50px 100px;
    color: #af6f3b;

    >div {
        display: flex;
        flex-direction: column;

        span {
            cursor: pointer;
            padding-top: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}