@import '../../../commonStyles/mixins.scss';
@import '../../../commonStyles/variables.scss';

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1.5px solid #ddd;

    .toolmenu {
        padding-top: 3px;
        font-size: 25px;

        @include small-m {
            padding-top: 0;
            font-size: 16px;
        }
    }

    >div {
        display: flex;
        align-items: center;

        >span,
        >a {
            display: inline-block;
            cursor: pointer;

            .facebook {
                font-size: 29px;
                color: #1877F2;
            }

            .instagram {
                position: relative;
                top: 2px;
                height: 25px;
            }

            @include only-mobile {
                &:not(.show) {
                    display: none;
                }
            }

            &.show:first-of-type {
                display: none;

                @include only-mobile {
                    display: inline-block;
                }
            }

            &:not(:last-of-type) {
                margin-right: 10px;
            }

            &:hover {
                color: $mainColor;
            }
        }
    }

    .logo {
        font-size: 35px;
        color: #00f;
        text-decoration: none;
        cursor: pointer;

        @include small-pc {
            font-size: 25px;
        }

        @include small-m {
            font-size: 16px;
        }
    }

    .displaymember {
        position: relative;
        right: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        >img {
            position: relative;
            right: 10px;
            height: 40px;
            border-radius: 50%;
        }

        .memberoptions {
            position: absolute;
            top: 40px;
            display: none;
            border-radius: 5px;
            background-color: #ddd;
            cursor: auto;

            ul {
                padding-left: 0;
                list-style-type: none;
                padding: 10px 15px;
                margin: 0;

                li {
                    padding: 10px 0;
                    text-align: center;
                    cursor: pointer;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid #222;
                    }

                    &:hover {
                        color: #0870d0;
                    }
                }
            }
        }

        &:hover {
            color: #000;

            .memberoptions {
                display: block;
            }
        }
    }
}

.Navigator {
    padding-bottom: 40px;

    >ul {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 30px;
        height: 40px;

        @include only-mobile {
            display: none;
        }

        >li {
            padding-bottom: 10px;
            min-width: 100px;
            text-align: center;
            color: #504e4a;
            list-style-type: none;
            vertical-align: middle;
            cursor: pointer;

            &:hover {
                color: $mainColor;
                border-bottom: 2px solid $mainColor;
            }
        }
    }

}

.block {
    display: block;
    width: 60vw;
    height: 100vh;
    padding-top: 10px;
    color: #fff;
    background-color: #504e4a;

    .displaymember {
        display: block;
        margin-left: 20px;

        .memberinfo {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 40px;

            img {
                position: relative;
                right: 10px;
                height: 40px;
                border-radius: 50%;
            }
        }

        .memberoptions {
            margin-top: 20px;
        }
    }

    .loginbut {
        display: block;
        padding: 40px;
        cursor: pointer;
    }

    ul {
        margin: 0;
        padding-left: 0;

        li {
            padding-bottom: 35px;
            font-size: 14px;
            list-style-type: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    >ul {
        padding-left: 40px;
    }

    div {
        cursor: pointer;

        span:first-of-type {
            padding-right: 10px;
        }

        .facebook {
            margin-right: 10px;
            font-size: 25px;
            background-color: #fff;
            color: #1877F2;
            border-radius: 50%;
        }

        .instagram {
            position: relative;
            top: 2px;
            height: 25px;
        }

        .logout {
            margin-left: 10px;
        }
    }

    .logout {
        position: fixed;
        bottom: 0;
        width: 60%;
        padding: 10px;
        border: 0;
        border-top: 1px solid #bbb;
        color: #222;
        background-color: #f9f5de;
        cursor: pointer;
    }

    .otheroptions {
        margin-left: 40px;
    }
}

.logincontainer {
    i {
        color: #000;
    }

    .membereventblock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vw;
        height: 90vh;
        border-radius: 6px;
        background-color: #fff;

        @include only-mobile {
            width: 90vw;
        }

        .memberevent {
            width: 70%;
            height: 80%;
            border: 1px solid #ddd;
            border-radius: 5px;

            @include only-mobile {
                height: 90%;
            }

            .buttons {
                display: flex;

                button {
                    height: 50px;
                    border: 0;
                    background-color: #ddd;
                    flex: 1;
                    opacity: .5;
                    cursor: pointer;

                    &.active {
                        background-color: #fff;
                        opacity: 1;
                    }
                }
            }

            >div:not(.buttons) {
                padding: 40px;

                .title {
                    margin-bottom: 5px;
                    text-align: center;
                }

                .address {
                    display: flex;
                    width: 100%;

                    >div {
                        width: 100%;

                        &:first-of-type {
                            width: 50%;
                            margin-right: 5px;
                        }
                    }
                }

                .buttonlist {
                    padding: 0 20px;

                    button {
                        display: flex;
                        align-items: center;
                        height: 40px;
                        margin: 0 auto;
                        margin-top: 20px;
                        border: 0;
                        background-color: #ddd;
                        cursor: pointer;

                        img {
                            height: 30px;
                            margin-right: 10px;
                        }
                    }
                }
            }

        }

        .google {
            width: 70px;
            border-radius: 6px;
            cursor: pointer;
        }

        .registry {
            display: block;
            padding-top: 20px;
            cursor: pointer;
        }
    }
}