@import '../../../commonStyles/mixins.scss';
@import '../../../commonStyles/variables.scss';

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1.5px solid #ddd;

    .logo {
        font-size: 35px;
        color: #00f;
        text-decoration: none;
        cursor: pointer;

        @include small-pc {
            font-size: 25px;
        }

        @include small-m {
            font-size: 16px;
        }
    }

    span {
        display: inline-block;
        cursor: pointer;

        @include only-mobile {
            &:not(.show) {
                display: none;
            }
        }

        &.show:first-of-type {
            display: none;

            @include only-mobile {
                display: inline-block;
            }
        }

        &:not(:last-of-type) {
            margin-right: 10px;
        }

        &:hover {
            color: $mainColor;
        }
    }
}

.Navigator {
    padding-bottom: 40px;

    >ul {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 30px;
        height: 40px;

        @include only-mobile {
            display: none;
        }

        >li {
            padding-bottom: 10px;
            min-width: 100px;
            text-align: center;
            color: #504e4a;
            list-style-type: none;
            vertical-align: middle;
            cursor: pointer;

            &:hover {
                color: $mainColor;
                border-bottom: 2px solid $mainColor;
            }
        }
    }

}

.block {
    width: 40vw;
    height: 100vh;
    padding-top: 100px;
    color: #fff;
    background-color: #504e4a;

    ul {
        margin-top: 0;

        li {
            font-size: 14px;
            list-style-type: none;
            cursor: pointer;

            &:not(:first-of-type) {
                padding-top: 35px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    div {
        padding-left: 40px;
        cursor: pointer;

        span:first-of-type {
            padding-right: 10px;
        }
    }
}

.logincontainer {
    i {
        color: #000;
    }

    .membereventblock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vw;
        height: 90vh;
        border-radius: 6px;
        background-color: #fff;

        .memberevent {
            width: 70%;
            height: 80%;
            border: 1px solid #ddd;
            border-radius: 5px;

            .buttons {
                display: flex;

                button {
                    height: 50px;
                    border: 0;
                    background-color: #ddd;
                    flex: 1;
                    opacity: .5;
                    cursor: pointer;

                    &.active {
                        background-color: #fff;
                        opacity: 1;
                    }
                }
            }

            >div:not(.buttons) {
                padding: 40px;

                .title {
                    margin-bottom: 5px;
                    text-align: center;
                }

                .inputblock {
                    margin-bottom: 5px;

                    span {
                        display: block;
                        color: #222;
                        margin: 0 0 5px 5px;
                        font-size: 12px;
                    }

                    input {
                        width: calc(99% - 20px);
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        padding: 10px;
                        outline: none;

                        &::placeholder {
                            color: #ddd;
                        }
                    }

                    .err {
                        color: red;
                        margin-bottom: 0;
                    }
                }

                .buttonlist {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;

                    button {
                        height: 30px;
                        width: 40%;
                        margin-top: 20px;
                        border: 0;
                        background-color: #ddd;
                        cursor: pointer;
                    }
                }
            }

        }

        .google {
            width: 70px;
            border-radius: 6px;
            cursor: pointer;
        }

        .registry {
            display: block;
            padding-top: 20px;
            cursor: pointer;
        }
    }
}