@import '../../../commonStyles/mixins.scss';
@import '../../../commonStyles/variables.scss';

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1.5px solid #ddd;

    .logo {
        font-size: 35px;
        color: blue;

        @include small-pc {
            font-size: 25px;
        }

        @include small-m {
            font-size: 16px;
        }
    }

    span {
        display: inline-block;
        cursor: pointer;

        &.show:first-of-type {
            display: none;

            @include only-mobile {
                display: inline-block;
            }
        }

        &:not(:last-of-type) {
            margin-right: 10px;
        }

        &:hover {
            color: $mainColor;
        }

        @include only-mobile {
            &:not(.show) {
                display: none;
            }
        }
    }
}