@import '../../../commonStyles/variables.scss';
@import '../../../commonStyles/mixins.scss';

.shoplist {

    @include only-pc {
        display: table;
        width: 90%;
        margin: auto;
    }

    @include only-mobile {
        padding: 0 30px;
    }

    >li,
    >div {
        @include only-pc {
            display: table-row-group;
        }

        >span {
            display: table-cell;

            &:not(.name) {
                text-align: center;
            }

            &.name {

                @include only-mobile {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                    object-fit: cover;

                    @include only-pc {
                        position: relative;
                        top: 20px;
                    }
                }
            }
        }

        &.title {

            span {
                border-bottom: 1px solid #bbb;
                padding-bottom: 15px;
                text-align: center;
            }

            @include only-mobile {
                display: none;
            }
        }

        &.calculate {
            @include only-mobile {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            span {
                font-weight: 500;
                padding-top: 50px;
            }

            .totalcalculation {
                font-size: 20px;
            }
        }
    }

    li {
        list-style-type: none;
        padding-left: 0;
        padding-bottom: 10px;

        @include only-mobile {
            >span {
                padding-top: 10px;

                &:not(.name) {
                    display: flex;
                    justify-content: space-between;
                }

                &::before {
                    content: attr(data-title);
                }
            }
        }
    }

    &.isclose {

        >li,
        .calculate {
            display: none;
        }
    }
}

.openshoplist {
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

    span {
        display: block;
    }

    i {
        display: block;
        transform: rotate(270deg);
    }

    &.isclose {
        i {
            transform: rotate(90deg);
        }
    }
}


.paymentinfo {
    display: block;
    margin-top: 30px;

    h2 {
        font-size: 40px;
        text-align: center;
        color: #222;
    }

    .paymentcontent {
        width: 50%;
        margin: auto;

        .checkbox {
            line-height: 20px;
            padding-left: calc(20px + 5px);
            position: relative;
            display: inline-block;

            &.distributed {
                display: block;
                margin-top: 10px;
            }

            input {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 20px;
                z-index: 10;
                cursor: pointer;
            }

            input+.indicator {
                border: 1px solid #bbb;
                border-radius: 2px;
                height: 15px;
                width: 15px;
                position: absolute;
                top: 0;
                left: 0px;
            }

            input[type='checkbox']:checked+.indicator::after {
                content: " ";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(15px / 10 * 3);
                height: calc(15px / 10 * 5);
                border: solid #0077b3;
                border-width: 0 2px 2px 0;
                border-color: #af6f3b;
                transform: translate(-50%, -65%) rotate(45deg);
            }
        }

        >div:not(.checkbox) {
            margin-top: 10px;
        }

        .selectdeliver {

            >span {
                display: block;
                color: #222;
                margin: 0 0 5px 5px;
                font-size: 12px;
            }

            >div {
                margin: 0px 0 20px 0;

                >div {
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }

        .address {
            display: flex;
            align-items: center;
            width: 100%;

            >div {
                width: 100%;

                &:first-of-type {
                    width: 50%;
                    margin-right: 5px;
                }
            }
        }

        .addresspng {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            span {
                &:first-of-type {
                    display: block;
                    margin-right: 10px;
                    height: 35px;
                    width: 40px;
                    background-size: 437.5% 441.6666666666667%;
                    background-position: 3.7037037037037037% 4.878048780487805%;
                    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/863cd70b079dd0934735ae66a0d1892d.png');
                    cursor: pointer;
                }
            }
        }
    }
}

.sendpayment {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
    background-color: #ddd;
    cursor: pointer;
}

.alert {
    display: block;
    padding-top: 20px;
    text-align: center;
}

.noitem {
    text-align: center;
}