.Item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0 10px 10px;
    text-decoration: none;
    cursor: pointer;

    .frame {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        max-height: 360px;
        margin-bottom: auto;

        img {
            position: relative;
            width: 100%;
            height: inherit;
            object-fit: cover;
            transition: all .5s ease-in-out;
            opacity: 1;
        }

        img:last-of-type {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &:hover {
            img:first-of-type {
                opacity: 0;
            }

            img:last-of-type {
                opacity: 1;
            }
        }
    }

    .itemname {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #222;
    }
}