@import '../../../commonStyles/variables.scss';
@import '../../../commonStyles/mixins.scss';

.Item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0 10px 10px;
    text-decoration: none;
    cursor: pointer;

    .frame {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: auto;

        canvas,
        img {
            position: relative;
            width: 100%;
            height: inherit;
            object-fit: cover;
            transition: all .5s ease-in-out;
            opacity: 1;
            aspect-ratio: 1;
        }

        canvas:last-of-type,
        img:last-of-type {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        @include only-pc {
            &:hover {

                canvas:first-of-type,
                img:first-of-type {
                    opacity: 0;
                }

                canvas:last-of-type,
                img:last-of-type {
                    opacity: 1;
                }
            }
        }
    }

    .itemname {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #222;
    }
}