@import '../../../commonStyles/variables.scss';
@import '../../../commonStyles/mixins.scss';

.Body {
    background-color: $backColor;
    padding-top: 40px;

    >div {
        text-align: center;
    }

    .title {
        font-size: 20px;
        font-weight: 700;
    }

    .breadcrumb {
        padding-top: 20px;
    }

    .function {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        span {
            font-size: small;

            &:last-of-type {
                cursor: pointer;
            }
        }

        @include small-m {
            flex-direction: column;

            span:first-of-type {
                padding-bottom: 5px;
            }
        }
    }

    .display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 30px;

        @include small-pc {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include small-m {
            grid-template-columns: 1fr 1fr;
        }
    }
}