@import '../../../commonStyles/mixins.scss';
@import '../../../commonStyles/variables.scss';

.Footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 50px 200px 50px 100px;
    color: #727171;
    background-color: #d4d2c8;

    @include only-mobile {
        display: block;
        padding: 20px 0 20px 50px;
        font-size: 15px;
    }

    >div {
        display: flex;
        flex-direction: column;

        a {
            padding-top: 15px;
            color: #727171;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}